:root {
    --claro: #E4FDE1;
    /* --background: #E4FDE1; */
    --background: #E8F7EE;
    /* --main-color: #279AF1; */
    --main-color: #FBF5F3;
    --input-color: #028090;
    /* --cinza-manete: #8D8C9E;
    --cinza-manete-claro: #C9C9D5;
    --botoes-dark: #3C3D41;
    --botoes-roxo: #584782;
    --botoes-lilas: #A09DCC; */
    --title: #FBF5F3;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;


}

body {

    width: 80%;
    margin: 0 auto;
    background-color: var(--claro);
    height: 100%;
    background-color: #2C5784;
    font-family: "Rowdies", sans-serif;

}


header {
    height: 10vh;
    display: flex;
    padding-left: 1rem;
    /* justify-content: center; */
    
}

header h1 span{
    color: #FF499E;
    
}


.date #current-date, 
.date #current-day{
    font-family: "Rowdies";
    color: #5a5a5a;
}
 
.date #current-day{
   margin-bottom: 0;
   font-size: 2.2rem;
}
.date #current-date{
   padding-top: 0;
}


main {
    background-color: var(--main-color);
    min-height: 85vh;
    border-radius: 2rem;
    border: 3px solid #FF499E;
    margin-bottom: 1rem;
    margin-top: .5rem;
}



.todo-title {
    font-family: "Rowdies";
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: .2rem;
    font-size: 2.5rem;
    color: var(--title);
    height: 4rem;
}

.date span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0 0 0;
    text-align: center;
 
}

#current-day{
    font-size: 1.5rem;
}
#current-date{
    font-size: .8rem;
    margin-top: 0;
}

.add-task,
.tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.add-task {
    padding: 1rem 0 0 0;
    width: 100%;
}

#add-task-input {
    width: 50%;
    height: 2rem;
    border-radius: .5rem;
    background-color: #F7F7F9;
    border-color: #5A5A5A;
    outline-color: #FF499E;
   
}

::placeholder {
    color: #5A5A5A; /* Cor do placeholder */
  }


.add-task-button {
    border-color: transparent;
    width: 2rem;
    height: auto;
    cursor: pointer;
    color: #FF499E;
}

.add-task-button:hover {
    color: var(--botoes-dark);
    transition: 0.1s ease-in-out;
}

.add-task-button i {

    font-size: 2rem;
    cursor: pointer;
    
}

.tasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: first baseline;
    justify-content: first baseline;
    list-style: none;
}

.task-item {
    background-color: #fddbeb;
    width: 100%;
    min-height: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
    border-radius: .5rem;
    gap: .5rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.line{
   text-decoration: line-through;
   opacity: 0.8;
   background-color: #a5a5a5;
}

.task-text{
    max-width: 100%;
    word-wrap: break-word;
    text-align: justify;
    color: #5A5A5A;
}

.btn-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: .3rem;

}

.task-item .remove-task, 
.task-item .edit-task {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid;
    border-radius: 50%;
    color: #535353;
    font-weight: bold;

}

.task-item .checkTask{
    width: 2rem;
    height: 2rem;
    border: 1px solid;
    color: #535353;
}

.task-item .remove-task:hover, 
.task-item .edit-task:hover
{
    background-color: #FF499E;
}

.task-item .checkTask:hover{
    background-color: #329F5B; 
}

.task-item .remove-task:hover, 
.task-item .edit-task:hover,
.task-item .checkTask:hover
{
    border: 1px solid transparent;
    color: #E4FDE1;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.task-item .marked {
 
    background-color: #329F5B !important;   
    color: #E4FDE1 !important; 
} 


#edit-background {
    position: fixed;
    top: 0;
    background-color: #2C5784;
    bottom: 0;
    left: 0;
    opacity: 0.88;
    z-index: 100;
    right: 0;
    display: none;
}
#edit-background.open {
    display: block !important;
}
#edit-window {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    background-color: #FBF5F3;
    border: 3px solid #FF499E;
    padding: 2rem;
    border-radius: 1rem;
    z-index: 200;
    display: none;
}
#edit-window.open {
    display: block !important;
}

#edit-window-btn-close{
    position: absolute;
    top: -0.7rem;
    right: -0.7rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #414141;
    color: #E4FDE1;
    border: 1px solid transparent;
    cursor: pointer;
}
#edit-window-btn-close:hover{
    background-color: #000F08;
}

form{
    width: 100%;
    margin-top: 1rem;
}

.edit-window-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.edit-window-section label{
    margin-bottom: .5rem;
}
.edit-window-section input{
    padding: .5rem;
    border-radius: .5rem;
    border-color: #535353;
    outline: none;
}

#id-task-edit, 
.edit-window-section label{
    color: #535353;
}

#btn-save-edit {
    border-radius: .5rem;
    width: 50%;
    align-self: center;
    height: 2rem;
    background-color: #FF499E;
    color: #E4FDE1;
    border: 1px solid transparent;
}
#btn-save-edit:hover {
    background-color: #fd288c;
    cursor: pointer;
}

@media screen and (max-width: 390px) {
    
    .todo-title{

        font-size: 2rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
    }
  }
